certifi==2017.4.17
chardet==3.0.4
idna==2.5
Mako==1.0.7
Markdown==2.4.1
MarkupSafe==1.0
nexuscli==1.0
numpy==1.13.1
pdoc==0.3.2
Pygments==2.2.0
pytz==2017.2
requests==2.18.1
Shapely==1.5.17.post1
urllib3==1.21.1
