awscli==1.11.141
botocore==1.6.8
certifi==2017.1.23
colorama==0.3.7
docutils==0.14
futures==3.1.1
jmespath==0.9.3
netCDF4==1.2.7
nexusproto==0.3
-e git+https://github.com/dataplumber/nexus.git@979d63734017714fc0f2d4a9f378b773625996c4#egg=nexusxd&subdirectory=nexus-ingest/nexus-xd-python-modules
numpy==1.12.1
protobuf==3.2.0
pyasn1==0.3.3
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
rsa==3.4.2
s3transfer==0.1.10
scipy==0.18.1
six==1.10.0
springxd==0.1
